<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392118707769-i4f1rapi506f0biurfr7eseal4a9u8qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392118707769-i4f1rapi506f0biurfr7eseal4a9u8qq</string>
	<key>API_KEY</key>
	<string>AIzaSyDkGyruz04hgPgQfuJ7oMm4J-zT-uJl7fM</string>
	<key>GCM_SENDER_ID</key>
	<string>392118707769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ClaireChiou.Lightening</string>
	<key>PROJECT_ID</key>
	<string>lightening-626ce</string>
	<key>STORAGE_BUCKET</key>
	<string>lightening-626ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392118707769:ios:9f04381eed20905b280fe8</string>
</dict>
</plist>